
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> filter </title>
    
  </head>
  <body>
  <h1> <b>{{message}}<b></h1>

<form method="POST">
 {% csrf_token %}
 <div class="form_class">
 <input type="text" name="name" placeholder="Name" required>
 </div> <br /> 
 <div class="form_class">
 <input type="number" name="age" placeholder="Age" required> 
 </div> <br /> 
  <div class="form_class">
 <select name="gender" required >
 <option  value="M">Male</option>
 <option value="F">Female</option>
 

 </select>
 </div><br /> 
 <div class="form_class">
 <input type="text" name="city" placeholder="City" required>
 </div> <br /> 
 
<input type="submit" value="Submit" >
</form>
 


<form method="POST" action="{% url 'addperson2' %}">
 {% csrf_token %}
 <div class="form_class">
 {{form}}


 
<input type="submit" value="Submit" >
</form>

<br/><br/>

<form method="POST">
 {% csrf_token %}
 <div class="form_class">
 {{form.name}}
 </div> <br /> 
 <div class="form_class">
  {{form.age}}
 </div> <br /> 
  <div class="form_class">
 {{form.gender}}
 </div><br /> 
 <div class="form_class">
 {{form.city}}
 </div> <br /> 
 
<input type="submit" value="Submit" >
</form>


  </body>
</html>
