{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>

    {% for i  in item %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>{{i.items}}</h5>
          <img src="{{i.items.pic.url}}" alt="" height="200px"><span class="fw-bold">
          
          <p class="fw-bold">{{i.items.price}}</p>
        </div>
      </div>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="">
      <div class="card">
        <div class="card-body">
        <h5>{{i.cart_user}}</h5>
        <p></p>
        </div>
      </div>
            </label>
            {% endfor %}
        </div>
        <div class="text-end">
          <button onclick="window.open('http://127.0.0.1:8000/cartdetail/');"  class="btn btn-warning mt-3 px-4 fw-bold">Buy</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}