{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form  method="POST" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
     <label  class="form-label">Username</label>
     <input class="form-control" >
    </div>
    <div class="mb-3">
     <label  class="form-label">Password</label>
     <input type="password" class="form-control" >
    </div>
    
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>Bambora ? <a href="{% url 'register' %}"
       class="text-danger">Create an Account</a> </small></div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}



