{% extends 'base.html' %}
{%load static %}
{% block title %}Apprasial{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<br><br>





<form method="POST" action="{% url 'result' %}">
	{% csrf_token %}


{% for step in steps %}


<label >{{step.question}} </label>
<br />

<textarea name="{{step.id}}" rows="6" ></textarea>    

<br />
{% endfor  %}




<input class="btn" type="submit" value="Submit" style="background-color: blue; color:white;">
</form>



{% endblock main %}