{% extends 'base.html' %}
{% load static %}

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css"  href="{% static 'css/list.css' %}"/>

    {% block title %}Employee List{% endblock title %}
{% block main %}
    
 
  <div class="container"> 

  <h1> <b>In a list<b></h1>
    
    {% for emp in object_list %}
  
    <a href = "{% url 'detail' pk=emp.pk %}">
    
    <li> {{emp.object}}  </a>
 
    {% endfor %}
 
 {% endblock main %}