{% extends 'base.html' %}
{%load static%}
{% block title %}Material{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">


<form  method="POST">
  {% csrf_token %}
{% if error_message %}
  <label style="color:red;">{{error_message}}</label>

{% else %}


{% if message %}
  <label style="color:green;">{{message}}</label>

{% else %}


<label>Materials</label>
    {{form.material}}
 

    <input class="btn" type="submit" value="Submit" style="background-color: blue; color:white;">
    
    </form >
    {% endif %}
    {% endif %}

{% endblock main %}