{% extends 'base.html' %}
{% load static %}
{% block title %}Transport{% endblock %}
{% csrf_token %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">



{% if error_message %}
  <label style="color:red;">{{error_message}}</label>

{% else %}


{% if message %}
  <label style="color:green;">{{message}}</label>

{% else %}


<link rel="stylesheet" href="{% static 'css/signup.css' %}">

  {% csrf_token %}
  <form method="POST">
    {% csrf_token %}
  <label>Transport From</label>
<br>
  {{form.transport_from}}<br><br>

  <label>Transport To</label><br>
  {{form.transport_to}}<br><br>

  <label>Vehicle</label><br>
  {{form.vehicle}}<br><br>

  <label>Cost of Travel</label><br>
  {{form.cost_of_transport}}<br><br>



  <input class="btn" type="submit" value="Submit" style="background-color: blue; color:white;">
</form>
{% endif %}
{% endif %}
{% endblock main %}