{% load static %}


<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}Blog{% endblock %}
    </title>


    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
</head>

<body>
    <div class="oleez-loader" style="display: none;"></div>
    <header class="oleez-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href=""><img src="{%  static 'images/blog.png' %}" width = "96" height = "86" alt="Blog"></a>
            <ul class="nav nav-actions d-lg-none ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="" data-toggle="searchModal">
                        <img src="{% static 'images/search.svg' %}" alt="search">
                    </a>
                </li>
                
              
            </ul>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#oleezMainNav" aria-controls="oleezMainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="oleezMainNav">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="pagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</a>
                        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                            
                            <a class="dropdown-item" href="{% url 'signup' %}">Register</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Login </a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout </a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="blogDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <div class="dropdown-menu" aria-labelledby="blogDropdown" style="display: none;">
                            
                        </div>
                    </li>
                </ul>
                
                  <form action="" method="get"  class="form-inline my-2 my-lg-0">
                   
                 <input type="text" name="q"  placeholder="Searchblog" />
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" />
                    </form>
                    
                   



            </div>
               
        </nav>

    </header>
    
  
{% block main %}
{% endblock main %}


<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    new WOW().init();
</script>

