{% extends 'base.html' %}

{% load static %}
{% block title %} Detail {% endblock title%}
{% block main %}


<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="{{blog.blog_image.url}}" alt="pic">
                        </div>
                        <h3><a >{{blog.title}}</a></h3>

                        <p>{{blog.content |safe }}</p> 
                    </div>                        
                </div>
                {% for comment in blog.comments.all %}
                
                <h6>{{comment.blog_user}} </h6>
                <p> on {{comment.coment_time}} </p>
                <p> {{comment.comment |safe}} </p>

                
                
                {% endfor %}
              <hr>
              {% if user.is_authenticated %}
              <p> Add a New Comment</p> 
              <form method='POST'>
                  <input type ='hidden' name='blog' value={{blog.id}} />
                  <textarea name='comment' rows='5' columns='5' ></textarea><br>
                      <input type='submit' >
                  </form> 
                  {% endif %}
                    
            </div>
            
        </div>

    </div>
</div>


{% endblock main%}